@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #0a0a0a;
  --foreground: #ededed;
  --primary: #cc223c;
  --main: #ff0f33;
  --secondary: #111319;
}

body {
  color: var(--foreground);
  background: var(--secondary);
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
  .stroke-text {
    -webkit-text-stroke: 1px rgba(255, 255, 255, 0.4);
  }
}

::-webkit-scrollbar {
  width: 0.4rem;
}

::-webkit-scrollbar-track {
  background: var(--background);
}

::-webkit-scrollbar-thumb {
  background: linear-gradient(#6a6969 0%, #494747 100%);
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: linear-gradient(#949292 0%, #686262 100%);
}

@keyframes fillRight {
  from {
    width: 0%;
  }
  to {
    width: 100%;
  }
}

.vjs-next-overlay-btn {
  position: absolute !important;
  bottom: 50px !important;
  right: 20px !important;
  background: rgba(199, 199, 199, 0.7) !important;
  border-radius: 8px !important;
  overflow: hidden !important;
  width: auto !important;
  height: auto !important;
  padding: 0 !important;
  cursor: pointer !important;
  z-index: 100 !important;
}

.next-btn-fill-bar {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 0%;
  background: rgb(255 255 255 / 1);
  z-index: 1;
}

/* CHỈ CHẠY KHI CÓ CLASS IS-ACTIVE */
.vjs-next-overlay-btn.is-active .next-btn-fill-bar {
  animation: fillRight 15s linear forwards;
}

/* DỪNG ANIMATION KHI VIDEO PAUSE */
.vjs-vmovie-theme.vjs-paused .vjs-next-overlay-btn .next-btn-fill-bar {
  animation-play-state: paused !important;
}

.next-btn-inner-content {
  position: relative;
  z-index: 2;
  display: flex;
  align-items: center;
  gap: 6px;
  padding: 8px 12px;
  color: var(--secondary);
  text-transform: capitalize;
  font-size: 14px;
  white-space: nowrap;
}

#comment-section-root {
  scroll-margin-top: 120px; /* Chỉnh theo độ cao Header */
}

@keyframes target-flash {
  0%, 100% { background-color: transparent; }
  50% { background-color: rgba(239, 68, 68, 0.15); }
}

.animate-target-flash {
  animation: target-flash 2.5s ease-in-out;
}