@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #0a0a0a;
  --foreground: #ededed;
  --primary: #cc223c;
  --main: #ff0f33;
  --secondary: #111319;
}

body {
  color: var(--foreground);
  background: var(--secondary);
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

::-webkit-scrollbar {
  width: 0.4rem;
}

::-webkit-scrollbar-track {
  background: var(--background);
}

::-webkit-scrollbar-thumb {
  background: linear-gradient(#f5515f 0%, #9f041b 100%);
  border-radius: 10px;
}
